<nav class="navbar navbar-expand-lg {{#unless demoMode}}{{#is navColor 'default'}}navbar-light{{/is}}{{#is navColor 'inverted'}}navbar-dark{{/is}}{{#is navColor 'vibrant'}}navbar-dark navbar-vibrant{{/is}}{{/unless}}" id="topnav">
  <div class="container">

    <!-- Toggler -->
    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand mr-auto" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/logo.svg" alt="..." class="navbar-brand-img">
    </a>

    <!-- Form -->
    <form class="form-inline mr-4 d-none d-lg-flex">
      <div class="input-group input-group-rounded input-group-merge input-group-reverse" data-list='{"valueNames": ["name"]}'>

        <!-- Input -->
        <input type="search" class="form-control dropdown-toggle list-search" data-toggle="dropdown" placeholder="Search" aria-label="Search">

        <!-- Icon -->
        <div class="input-group-text">
          <i class="fe fe-search"></i>
        </div>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-card">
          <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush list-group-focus list my-n3">
              <a class="list-group-item" href="{{webRoot}}/team-overview.html">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <img src="{{webRoot}}/assets/img/avatars/teams/team-logo-1.jpg" alt="..." class="avatar-img rounded">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="text-body text-focus mb-1 name">
                      Airbnb
                    </h4>

                    <!-- Time -->
                    <p class="small text-muted mb-0">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 2hr ago</time>
                    </p>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item" href="{{webRoot}}/team-overview.html">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <img src="{{webRoot}}/assets/img/avatars/teams/team-logo-2.jpg" alt="..." class="avatar-img rounded">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="text-body text-focus mb-1 name">
                      Medium Corporation
                    </h4>

                    <!-- Time -->
                    <p class="small text-muted mb-0">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 2hr ago</time>
                    </p>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item" href="{{webRoot}}/project-overview.html">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-4by3">
                      <img src="{{webRoot}}/assets/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="text-body text-focus mb-1 name">
                      Homepage Redesign
                    </h4>

                    <!-- Time -->
                    <p class="small text-muted mb-0">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 4hr ago</time>
                    </p>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item" href="{{webRoot}}/project-overview.html">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-4by3">
                      <img src="{{webRoot}}/assets/img/avatars/projects/project-2.jpg" alt="..." class="avatar-img rounded">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="text-body text-focus mb-1 name">
                      Travels & Time
                    </h4>

                    <!-- Time -->
                    <p class="small text-muted mb-0">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 4hr ago</time>
                    </p>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item" href="{{webRoot}}/project-overview.html">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-4by3">
                      <img src="{{webRoot}}/assets/img/avatars/projects/project-3.jpg" alt="..." class="avatar-img rounded">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="text-body text-focus mb-1 name">
                      Safari Exploration
                    </h4>

                    <!-- Time -->
                    <p class="small text-muted mb-0">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 4hr ago</time>
                    </p>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item" href="{{webRoot}}/profile-posts.html">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="text-body text-focus mb-1 name">
                      Dianna Smiley
                    </h4>

                    <!-- Status -->
                    <p class="text-body small mb-0">
                      <span class="text-success">●</span> Online
                    </p>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item" href="{{webRoot}}/profile-posts.html">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="text-body text-focus mb-1 name">
                      Ab Hadley
                    </h4>

                    <!-- Status -->
                    <p class="text-body small mb-0">
                      <span class="text-danger">●</span> Offline
                    </p>

                  </div>
                </div> <!-- / .row -->
              </a>
            </div>

          </div>
        </div> <!-- / .dropdown-menu -->

      </div>
    </form>

    <!-- User -->
    <div class="navbar-user">

      <!-- Dropdown -->
      <div class="dropdown mr-4 d-none d-lg-flex">

        <!-- Toggle -->
        <a href="#" class="navbar-user-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon active">
            <i class="fe fe-bell"></i>
          </span>
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
          <div class="card-header">

            <!-- Title -->
            <h5 class="card-header-title">
              Notifications
            </h5>

            <!-- Link -->
            <a href="#!" class="small">
              View all
            </a>

          </div> <!-- / .card-header -->
          <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush list-group-activity my-n3">
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Dianna Smiley</strong> shared your post with Ab Hadley, Adolfo Hess, and 3 others.
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Ab Hadley</strong> reacted to your post with a 😍
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Adolfo Hess</strong> commented <blockquote class="mb-0">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Daniela Dewitt</strong> subscribed to you.
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Miyah Myles</strong> shared your post with Ryu Duke, Glen Rouse, and 3 others.
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-6.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Ryu Duke</strong> reacted to your post with a 😍
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-7.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Glen Rouse</strong> commented <blockquote class="mb-0">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-8.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Grace Gross</strong> subscribed to you.
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
            </div>

          </div>
        </div> <!-- / .dropdown-menu -->

      </div>

      <!-- Dropdown -->
      <div class="dropdown">

        <!-- Toggle -->
        <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="{{webRoot}}/profile-posts.html" class="dropdown-item">Profile</a>
          <a href="{{webRoot}}/account-general.html" class="dropdown-item">Settings</a>
          <hr class="dropdown-divider">
          <a href="{{webRoot}}/sign-in.html" class="dropdown-item">Logout</a>
        </div>

      </div>

    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse mr-lg-auto order-lg-first" id="navbar">

      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <input type="search" class="form-control form-control-rounded" placeholder="Search" aria-label="Search">
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav mr-lg-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#is category 'dashboards'}}active{{/is}}" href="#" id="topnavDashboards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is category 'dashboards'}}true{{else}}false{{/is}}">
            Dashboards
          </a>
          <ul class="dropdown-menu" aria-labelledby="topnavDashboards">
            <li>
              <a class="dropdown-item {{#is page 'index.html'}}active{{/is}}" href="{{webRoot}}/index.html">
                Default
              </a>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'dashboard-project-management.html'}}active{{/is}}" href="{{webRoot}}/dashboard-project-management.html">
                Project Management
              </a>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'dashboard-ecommerce.html'}}active{{/is}}" href="{{webRoot}}/dashboard-ecommerce.html">
                E-Commerce
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#is category 'pages'}}active{{/is}}" href="#" id="topnavPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is category 'pages'}}true{{else}}false{{/is}}">
            Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="topnavPages">
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle {{#is subcategory 'account'}}active{{/is}}" href="#" id="topnavAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is subcategory 'account'}}true{{else}}false{{/is}}">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavAccount">
                <a class="dropdown-item {{#is page 'account-general.html'}}active{{/is}}" href="{{webRoot}}/account-general.html">
                  General
                </a>
                <a class="dropdown-item {{#is page 'account-billing.html'}}active{{/is}}" href="{{webRoot}}/account-billing.html">
                  Billing
                </a>
                <a class="dropdown-item {{#is page 'account-members.html'}}active{{/is}}" href="{{webRoot}}/account-members.html">
                  Members
                </a>
                <a class="dropdown-item {{#is page 'account-security.html'}}active{{/is}}" href="{{webRoot}}/account-security.html">
                  Security
                </a>
                <a class="dropdown-item {{#is page 'account-notifications.html'}}active{{/is}}" href="{{webRoot}}/account-notifications.html">
                  Notifications
                </a>
              </div>
            </li>
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle {{#is subcategory 'crm'}}active{{/is}}" href="#" id="topnavCrm" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is subcategory 'crm'}}true{{else}}false{{/is}}">
                CRM
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavCrm">
                <a class="dropdown-item {{#is page 'crm-contacts.html'}}active{{/is}}" href="{{webRoot}}/crm-contacts.html">
                  Contacts
                </a>
                <a class="dropdown-item {{#is page 'crm-companies.html'}}active{{/is}}" href="{{webRoot}}/crm-companies.html">
                  Companies
                </a>
                <a class="dropdown-item {{#is page 'crm-deals.html'}}active{{/is}}" href="{{webRoot}}/crm-deals.html">
                  Deals
                </a>
              </div>
            </li>
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle {{#is subcategory 'profile'}}active{{/is}}" href="#" id="topnavProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is subcategory 'profile'}}true{{else}}false{{/is}}">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavProfile">
                <a class="dropdown-item {{#is page 'profile-posts.html'}}active{{/is}}" href="{{webRoot}}/profile-posts.html">
                  Posts
                </a>
                <a class="dropdown-item {{#is page 'profile-groups.html'}}active{{/is}}" href="{{webRoot}}/profile-groups.html">
                  Groups
                </a>
                <a class="dropdown-item {{#is page 'profile-projects.html'}}active{{/is}}" href="{{webRoot}}/profile-projects.html">
                  Projects
                </a>
                <a class="dropdown-item {{#is page 'profile-files.html'}}active{{/is}}" href="{{webRoot}}/profile-files.html">
                  Files
                </a>
                <a class="dropdown-item {{#is page 'profile-subscribers.html'}}active{{/is}}" href="{{webRoot}}/profile-subscribers.html">
                  Subscribers
                </a>
              </div>
            </li>
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle {{#is subcategory 'project'}}active{{/is}}" href="#" id="topnavProject" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is subcategory 'project'}}true{{else}}false{{/is}}">
                Project
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavProject">
                <a class="dropdown-item {{#is page 'project-overview.html'}}active{{/is}}" href="{{webRoot}}/project-overview.html">
                  Overview
                </a>
                <a class="dropdown-item {{#is page 'project-files.html'}}active{{/is}}" href="{{webRoot}}/project-files.html">
                  Files
                </a>
                <a class="dropdown-item {{#is page 'project-reports.html'}}active{{/is}}" href="{{webRoot}}/project-reports.html">
                  Reports
                </a>
                <a class="dropdown-item {{#is page 'project-new.html'}}active{{/is}}" href="{{webRoot}}/project-new.html">
                  New project
                </a>
              </div>
            </li>
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle {{#is subcategory 'team'}}active{{/is}}" href="#" id="topnavTeam" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is subcategory 'team'}}true{{else}}false{{/is}}">
                Team
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavTeam">
                <a class="dropdown-item {{#is page 'team-overview.html'}}active{{/is}}" href="{{webRoot}}/team-overview.html">
                  Overview
                </a>
                <a class="dropdown-item {{#is page 'team-projects.html'}}active{{/is}}" href="{{webRoot}}/team-projects.html">
                  Projects
                </a>
                <a class="dropdown-item {{#is page 'team-members.html'}}active{{/is}}" href="{{webRoot}}/team-members.html">
                  Members
                </a>
                <a class="dropdown-item {{#is page 'team-new.html'}}active{{/is}}" href="team-new.html">
                  New team
                </a>
              </div>
            </li>
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle {{#is subcategory 'feed'}}active{{/is}}" href="#" id="topnavFeed" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is subcategory 'feed'}}true{{else}}false{{/is}}">
                Feed
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavFeed">
                <a class="dropdown-item {{#is page 'feed.html'}}active{{/is}}" href="{{webRoot}}/feed.html">
                  Platform
                </a>
                <a class="dropdown-item {{#is page 'social-feed.html'}}active{{/is}}" href="{{webRoot}}/social-feed.html">
                  Social
                </a>
              </div>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'wizard.html'}}active{{/is}}" href="{{webRoot}}/wizard.html">
                Wizard
              </a>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'kanban.html'}}active{{/is}}" href="{{webRoot}}/kanban.html">
                Kanban
              </a>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'orders.html'}}active{{/is}}" href="{{webRoot}}/orders.html">
                Orders
              </a>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'invoice.html'}}active{{/is}}" href="{{webRoot}}/invoice.html">
                Invoice
              </a>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'pricing.html'}}active{{/is}}" href="{{webRoot}}/pricing.html">
                Pricing
              </a>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'widgets.html'}}active{{/is}}" href="{{webRoot}}/widgets.html">
                Widgets
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="topnavAuth" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Auth
          </a>
          <ul class="dropdown-menu" aria-labelledby="topnavAuth">
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle" href="#" id="topnavSignIn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign in
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavSignIn">
                <a class="dropdown-item" href="{{webRoot}}/sign-in-cover.html">
                  Cover
                </a>
                <a class="dropdown-item" href="{{webRoot}}/sign-in-illustration.html">
                  Illustration
                </a>
                <a class="dropdown-item" href="{{webRoot}}/sign-in-basics.html">
                  Basic
                </a>
              </div>
            </li>
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle" href="#" id="topnavSignUp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign up
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavSignUp">
                <a class="dropdown-item" href="{{webRoot}}/sign-up-cover.html">
                  Cover
                </a>
                <a class="dropdown-item" href="{{webRoot}}/sign-up-illustration.html">
                  Illustration
                </a>
                <a class="dropdown-item" href="{{webRoot}}/sign-up.html">
                  Basic
                </a>
              </div>
            </li>
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle" href="#" id="topnavPassword" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Password reset
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavPassword">
                <a class="dropdown-item" href="{{webRoot}}/password-reset-cover.html">
                  Cover
                </a>
                <a class="dropdown-item" href="{{webRoot}}/password-reset-illustration.html">
                  Illustration
                </a>
                <a class="dropdown-item" href="{{webRoot}}/password-reset.html">
                  Basic
                </a>
              </div>
            </li>
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle" href="#" id="topnavError" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Error
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavError">
                <a class="dropdown-item" href="{{webRoot}}/error-illustration.html">
                  Illustration
                </a>
                <a class="dropdown-item" href="{{webRoot}}/error.html">
                  Basic
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#is category 'docs'}}active{{/is}}" href="#" id="topnavDocumentation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Docs
          </a>
          <ul class="dropdown-menu" aria-labelledby="topnavDocumentation">
            <li class="dropright">
              <a class="dropdown-item dropdown-toggle {{#is subcategory 'basics'}}active{{/is}}" href="#" id="topnavBasics" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{#is subcategory 'basics'}}true{{else}}false{{/is}}">
                Basics
              </a>
              <div class="dropdown-menu" aria-labelledby="topnavBasics">
                <a class="dropdown-item {{#is page 'getting-started.html'}}active{{/is}}" href="{{webRoot}}/docs/getting-started.html">
                  Getting Started
                </a>
                <a class="dropdown-item {{#is page 'design-file.html'}}active{{/is}}" href="{{webRoot}}/docs/design-file.html">
                  Design File
                </a>
              </div>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'components.html'}}active{{/is}}" href="{{webRoot}}/docs/components.html">
                Components
              </a>
            </li>
            <li>
              <a class="dropdown-item {{#is page 'changelog.html'}}active{{/is}}" href="{{webRoot}}/docs/changelog.html">
                Changelog
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#modalDemo" data-toggle="modal">
            Customize
          </a>
        </li>
      </ul>

    </div>

  </div> <!-- / .container -->
</nav>
