<div class="modal fade" id="modalKanbanTaskEmpty" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-lighter">
      <div class="modal-body">

        <!-- Header -->
        <div class="row">
          <div class="col">

            <!-- Prettitle -->
            <h6 class="text-uppercase text-muted mb-3">
              <a href="#!" class="text-reset">How to Use Kanban</a>
            </h6>

            <!-- Title -->
            <h2 class="mb-2">
              Update Dashkit to include new components!
            </h2>

            <!-- Subtitle -->
            <textarea class="form-control form-control-flush form-control-auto" data-autosize rows="1" placeholder="Add a description..."></textarea>

          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>

          </div>
        </div> <!-- / .row -->

        <!-- Divider -->
        <hr class="my-4">

        <!-- Buttons -->
        <div class="mb-4">
          <div class="row">
            <div class="col">

              <!-- Button -->
              <a href="#!" class="btn btn-sm btn-white">
                Add Reaction
              </a>

            </div>
            <div class="col-auto">

              <!-- Button -->
              <a href="#!" class="btn btn-sm btn-white">
                Share
              </a>

            </div>
          </div> <!-- / .row -->
        </div>

        <!-- Card -->
        <div class="card">
          <div class="card-body">
            <div class="dropzone dropzone-multiple" data-dropzone='{"url": "https://"}'>

              <!-- Fallback -->
              <div class="fallback">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFileUpload" multiple>
                  <label class="custom-file-label" for="customFileUpload">Choose file</label>
                </div>
              </div>

              <!-- Preview -->
              <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush">
                <li class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <!-- Image -->
                      <div class="avatar">
                        <img class="avatar-img rounded" src="data:image/svg+xml,%3csvg3c/svg%3e" alt="..." data-dz-thumbnail>
                      </div>

                    </div>
                    <div class="col ml-n3">

                      <!-- Heading -->
                      <h4 class="mb-1" data-dz-name>...</h4>

                      <!-- Text -->
                      <small class="text-muted" data-dz-size></small>

                    </div>
                    <div class="col-auto">

                      <!-- Dropdown -->
                      <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fe fe-more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#" class="dropdown-item" data-dz-remove>
                            Remove
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <!-- Card -->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-sm">
                  <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="...">
                </div>

              </div>
              <div class="col ml-n2">

                <!-- Form -->
                <form class="mt-1">
                  <textarea class="form-control form-control-flush" data-autosize rows="1" placeholder="Leave a comment"></textarea>
                </form>

              </div>
              <div class="col-auto align-self-end">

                <!-- Icons -->
                <div class="text-muted mb-2">
                  <a href="#!" class="text-reset mr-3">
                    <i class="fe fe-camera"></i>
                  </a>
                  <a href="#!" class="text-reset mr-3">
                    <i class="fe fe-paperclip"></i>
                  </a>
                  <a href="#!" class="text-reset">
                    <i class="fe fe-mic"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
