<div class="modal fade" id="sidebarModalActivity" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <!-- Title -->
        <h4 class="modal-title">
          Notifications
        </h4>

        <!-- Navs -->
        <ul class="nav nav-tabs nav-tabs-sm modal-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#modalActivityAction">Action</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#modalActivityUser">User</a>
          </li>
        </ul>

      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="modalActivityAction">

            <!-- List group -->
            <div class="list-group list-group-flush list-group-activity my-n3">
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-mail"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Launchday 1.4.0 update email sent
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Sent to all 1,851 subscribers over a 24 hour period
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-archive"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      New project "Goodkit" created
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Looks like there might be a new theme soon.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-code"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Dashkit 1.5.0 was deployed.
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      A successful to deploy to production was executed.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-git-branch"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      "Update Dependencies" branch was created.
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      This branch was created off of the "master" branch.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-mail"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Launchday 1.4.0 update email sent
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Sent to all 1,851 subscribers over a 24 hour period
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-archive"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      New project "Goodkit" created
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Looks like there might be a new theme soon.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-code"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Dashkit 1.5.0 was deployed.
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      A successful to deploy to production was executed.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-git-branch"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      "Update Dependencies" branch was created.
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      This branch was created off of the "master" branch.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-mail"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Launchday 1.4.0 update email sent
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Sent to all 1,851 subscribers over a 24 hour period
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-archive"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      New project "Goodkit" created
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Looks like there might be a new theme soon.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-code"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Dashkit 1.5.0 was deployed.
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      A successful to deploy to production was executed.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-git-branch"></i>
                      </div>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      "Update Dependencies" branch was created.
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      This branch was created off of the "master" branch.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
            </div>

          </div>
          <div class="tab-pane fade" id="modalActivityUser">

            <!-- List group -->
            <div class="list-group list-group-flush list-group-activity my-n3">
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-online">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Dianna Smiley
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Uploaded the files "Launchday Logo" and "New Design".
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-online">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-2.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Ab Hadley
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Shared the "Why Dashkit?" post with 124 subscribers.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      1h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-offline">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-3.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Adolfo Hess
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Exported sales data from Launchday's subscriber data.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      3h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-online">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Dianna Smiley
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Uploaded the files "Launchday Logo" and "New Design".
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-online">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-2.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Ab Hadley
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Shared the "Why Dashkit?" post with 124 subscribers.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      1h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-offline">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-3.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Adolfo Hess
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Exported sales data from Launchday's subscriber data.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      3h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-online">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Dianna Smiley
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Uploaded the files "Launchday Logo" and "New Design".
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-online">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-2.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Ab Hadley
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Shared the "Why Dashkit?" post with 124 subscribers.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      1h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-offline">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-3.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Adolfo Hess
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Exported sales data from Launchday's subscriber data.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      3h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-online">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Dianna Smiley
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Uploaded the files "Launchday Logo" and "New Design".
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-online">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-2.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Ab Hadley
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Shared the "Why Dashkit?" post with 124 subscribers.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      1h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-offline">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-3.jpg" alt="..." />
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Adolfo Hess
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Exported sales data from Launchday's subscriber data.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      3h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
