<div class="modal fade" id="modalKanbanTask" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-lighter">
      <div class="modal-body">

        <!-- Header -->
        <div class="row">
          <div class="col">

            <!-- Prettitle -->
            <h6 class="text-uppercase text-muted mb-3">
              <a href="#!" class="text-reset">How to Use Kanban</a>
            </h6>

            <!-- Title -->
            <h2 class="mb-2">
              Update Dashkit to include new components!
            </h2>

            <!-- Subtitle -->
            <p class="text-muted mb-0">
              This is a description of this task. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna nisi, ultrices ut pharetra eget.
            </p>

          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>

          </div>
        </div> <!-- / .row -->

        <!-- Divider -->
        <hr class="my-4">

        <!-- Buttons -->
        <div class="mb-4">
          <div class="row">
            <div class="col">

              <!-- Reaction -->
              <a href="#!" class="btn btn-sm btn-white">
                😬 1
              </a>
              <a href="#!" class="btn btn-sm btn-white">
                👍 2
              </a>
              <a href="#!" class="btn btn-sm btn-white">
                Add Reaction
              </a>

            </div>
            <div class="col-auto mr-n3">

              <!-- Avatar group -->
              <div class="avatar-group d-none d-sm-flex">
                <a href="{{webRoot}}/profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Ab Hadley">
                  <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                </a>
                <a href="{{webRoot}}/profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Adolfo Hess">
                  <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                </a>
                <a href="{{webRoot}}/profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Daniela Dewitt">
                  <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
                </a>
                <a href="{{webRoot}}/profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Miyah Myles">
                  <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                </a>
              </div>

            </div>
            <div class="col-auto">

              <!-- Button -->
              <a href="#!" class="btn btn-sm btn-white">
                Share
              </a>

            </div>
          </div> <!-- / .row -->
        </div>

        <!-- Card -->
        <div class="card">
          <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
              Files
            </h4>

            <!-- Button -->
            <a href="#!" class="btn btn-sm btn-white">
              Add files
            </a>

          </div>
          <div class="card-body">
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <a href="{{webRoot}}/project-overview.html" class="avatar">
                      <img src="{{webRoot}}/assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="mb-1">
                      <a href="{{webRoot}}/project-overview.html">Launchday logo</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      1.5mb PNG Dave
                    </p>

                  </div>
                  <div class="col-auto">

                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Action
                        </a>
                        <a href="#!" class="dropdown-item">
                          Another action
                        </a>
                        <a href="#!" class="dropdown-item">
                          Something else here
                        </a>
                      </div>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <a href="{{webRoot}}/project-overview.html" class="avatar">
                      <img src="{{webRoot}}/assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="mb-1">
                      <a href="{{webRoot}}/project-overview.html">Launchday logo</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      1.5mb PNG Dave
                    </p>

                  </div>
                  <div class="col-auto">

                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Action
                        </a>
                        <a href="#!" class="dropdown-item">
                          Another action
                        </a>
                        <a href="#!" class="dropdown-item">
                          Something else here
                        </a>
                      </div>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
        </div>

        <!-- Card -->
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-sm">
                  <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="...">
                </div>

              </div>
              <div class="col ml-n2">

                <!-- Form -->
                <form class="mt-1">
                  <textarea class="form-control form-control-flush form-control" data-autosize rows="1" placeholder="Leave a comment"></textarea>
                </form>

              </div>
              <div class="col-auto align-self-end">

                <!-- Icons -->
                <div class="text-muted mb-2">
                  <a href="#!" class="text-reset mr-3">
                    <i class="fe fe-camera"></i>
                  </a>
                  <a href="#!" class="text-reset mr-3">
                    <i class="fe fe-paperclip"></i>
                  </a>
                  <a href="#!" class="text-reset">
                    <i class="fe fe-mic"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div class="card-body">

            <!-- Comments -->
            <div class="comment mb-3">
              <div class="row">
                <div class="col-auto">

                  <!-- Avatar -->
                  <a class="avatar avatar-sm" href="{{webRoot}}/profile-posts.html">
                    <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>

                </div>
                <div class="col ml-n2">

                  <!-- Body -->
                  <div class="comment-body">

                    <div class="row">
                      <div class="col">

                        <!-- Title -->
                        <h5 class="comment-title">
                          Ab Hadley
                        </h5>

                      </div>
                      <div class="col-auto">

                        <!-- Time -->
                        <time class="comment-time">
                          11:12
                        </time>

                      </div>
                    </div> <!-- / .row -->

                    <!-- Text -->
                    <p class="comment-text">
                      Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really <em>show</em> me what the product does? I think using a short looping video or something similar demo'ing the product might be better?
                    </p>

                  </div>

                </div>
              </div> <!-- / .row -->
            </div>
            <div class="comment">
              <div class="row">
                <div class="col-auto">

                  <!-- Avatar -->
                  <a class="avatar avatar-sm" href="{{webRoot}}/profile-posts.html">
                    <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>

                </div>
                <div class="col ml-n2">

                  <!-- Body -->
                  <div class="comment-body">

                    <div class="row">
                      <div class="col">

                        <!-- Title -->
                        <h5 class="comment-title">
                          Adolfo Hess
                        </h5>

                      </div>
                      <div class="col-auto">

                        <!-- Time -->
                        <time class="comment-time">
                          11:12
                        </time>

                      </div>
                    </div> <!-- / .row -->

                    <!-- Text -->
                    <p class="comment-text">
                      Any chance you're going to link the grid up to a public gallery of sites built with Launchday?
                    </p>

                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div>

        <!-- Card -->
        <div class="card mb-0">
          <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
              Activity
            </h4>

          </div>
          <div class="card-body">
            <div class="list-group list-group-flush list-group-activity my-n3">
              <div class="list-group-item">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="...">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Johnathan Goldstein
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Uploaded the files “Launchday Logo” and “Revisiting the Past”.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="list-group-item">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="...">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Johnathan Goldstein
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Uploaded the files “Launchday Logo” and “Revisiting the Past”.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="list-group-item">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img class="avatar-img rounded-circle" src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" alt="...">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Heading -->
                    <h5 class="mb-1">
                      Johnathan Goldstein
                    </h5>

                    <!-- Text -->
                    <p class="small text-gray-700 mb-0">
                      Uploaded the files “Launchday Logo” and “Revisiting the Past”.
                    </p>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
