<div class="modal fade" id="modalMembers" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-card card" data-list='{"valueNames": ["name"]}'>
        <div class="card-header">

          <!-- Title -->
          <h4 class="card-header-title" id="exampleModalCenterTitle">
            Add a member
          </h4>

          <!-- Close -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="card-header">

          <!-- Form -->
          <form>
            <div class="input-group input-group-flush input-group-merge input-group-reverse">
              <input class="form-control list-search" type="search" placeholder="Search">
              <div class="input-group-text">
                <span class="fe fe-search"></span>
              </div>
            </div>
          </form>

        </div>
        <div class="card-body">

          <!-- List group -->
          <ul class="list-group list-group-flush list my-n3">
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">

                  <!-- Avatar -->
                  <a href="{{webRoot}}/profile-posts.html" class="avatar">
                    <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>

                </div>
                <div class="col ml-n2">

                  <!-- Title -->
                  <h4 class="mb-1 name">
                    <a href="{{webRoot}}/profile-posts.html">Miyah Myles</a>
                  </h4>

                  <!-- Time -->
                  <p class="small mb-0">
                    <span class="text-success">●</span> Online
                  </p>

                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <a href="#!" class="btn btn-sm btn-white">
                    Add
                  </a>

                </div>
              </div> <!-- / .row -->
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">

                  <!-- Avatar -->
                  <a href="{{webRoot}}/profile-posts.html" class="avatar">
                    <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-6.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>

                </div>
                <div class="col ml-n2">

                  <!-- Title -->
                  <h4 class="mb-1 name">
                    <a href="{{webRoot}}/profile-posts.html">Ryu Duke</a>
                  </h4>

                  <!-- Time -->
                  <p class="small mb-0">
                    <span class="text-success">●</span> Online
                  </p>

                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <a href="#!" class="btn btn-sm btn-white">
                    Add
                  </a>

                </div>
              </div> <!-- / .row -->
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">

                  <!-- Avatar -->
                  <a href="{{webRoot}}/profile-posts.html" class="avatar">
                    <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-7.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>

                </div>
                <div class="col ml-n2">

                  <!-- Title -->
                  <h4 class="mb-1 name">
                    <a href="{{webRoot}}/profile-posts.html">Glen Rouse</a>
                  </h4>

                  <!-- Time -->
                  <p class="small mb-0">
                    <span class="text-warning">●</span> Busy
                  </p>

                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <a href="#!" class="btn btn-sm btn-white">
                    Add
                  </a>

                </div>
              </div> <!-- / .row -->
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">

                  <!-- Avatar -->
                  <a href="{{webRoot}}/profile-posts.html" class="avatar">
                    <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-8.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>

                </div>
                <div class="col ml-n2">

                  <!-- Title -->
                  <h4 class="mb-1 name">
                    <a href="{{webRoot}}/profile-posts.html">Grace Gross</a>
                  </h4>

                  <!-- Time -->
                  <p class="small mb-0">
                    <span class="text-danger">●</span> Offline
                  </p>

                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <a href="#!" class="btn btn-sm btn-white">
                    Add
                  </a>

                </div>
              </div> <!-- / .row -->
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
